/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-webring {
	display: block;
	text-align: center;
	color: blue !important;
	text-decoration: underline;

	:hover {
		text-decoration: underline !important;
	}
}
