/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-webring  {
	display: block;
	text-align: center;
	color: blue !important;
	text-decoration: underline;

	:hover {
		text-decoration: underline !important;
	}
}
